$light_color_on_primary: #ffffff;
$light_color_on_surface: #060607;
$light_color_on_error: #060607;
$light_color_on_background: #060607;
$light_color_on_secondary: #060607;
$light_surface: #ebedef;
$light_background: #ffffff;
$light_background_selected: #d4d7dc;
$light_primary: #6e87df;
$light_primary_alpha: #666e87df;
$light_primary_dark: #e3e5e8;
$light_secondary: #060607;
$light_secondary_variant: #060607;
$light_accent: #6e87df;
$light_success: #6db33f;
$light_error: #cf6679;
$light_warning: #e67e22;
$light_tab_selected: #e3e5e8;
$light_tab_background: #f2f3f5;
$light_action_bar_background: #f5f5f5;
