@mixin input_theming_styles(
  $surface,
  $color_on_surface,
  $color_on_background,
  $accent,
  $error
) {
  .mat-form-field {
    .fa {
      color: $color_on_surface;
    }

    .mat-form-field-flex, .mat-select-value-text {
      background-color: $surface;
      color: $color_on_background;
    }

    .mat-form-field-label {
      color: $color_on_surface;

      .mat-form-field-required-marker {
        color: $error;
      }
    }

    .mat-form-field-underline,
    .mat-form-field-underline *, {
      background-color: $color_on_surface;
    }

    mat-error {
      color: $error;
    }

    &.mat-focused {
      fa-icon {
        color: $accent;
      }

      .mat-form-field-underline,
      .mat-form-field-underline *, {
        background-color: $accent;
      }
    }

    &.mat-form-field-invalid {
      .mat-form-field-label {
        color: $error;
      }

      .mat-form-field-underline,
      .mat-form-field-underline *, {
        background-color: $error;
      }
    }

    input, select, textarea {
      caret-color: $accent;
    }
  }

  .noUi-target {
    background: $surface;
  }


  .noUi-connect {
    background: $color_on_surface;
  }

  .noUi-horizontal .noUi-handle {
    width: 18px;
    background: $accent;
    box-shadow: none;
    border-color: $surface;
  }
}

.mat-form-field {
  &.non-legacy {
    .mat-form-field-infix {
      border: none;
      padding: 0 !important;
    }

    .mat-form-field-outline,
    .mat-form-field-prefix {
      top: 0 !important;
    }
  }

  .mat-form-field-flex {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mat-mdc-form-field-error-wrapper{
    padding: 0;
  }

  fa-icon {
    font-size: 20px;
  }

  input {
    background: transparent !important;
  }

  &:not(.multi) .mat-form-field-flex {
    height: 58px;
  }

  &:not(.mat-form-field-should-float) {
    .mat-form-field-infix {
      border-top: 0;
    }
  }

  &.no-label {
    .mat-form-field-flex {
      height: auto !important;
    }

    .mat-form-field-infix {
      padding: 0;
    }
  }

  &.no-error {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-underline {
      bottom: 0;
    }
  }

  &.mat-form-field-should-float {
    .mat-form-field-infix {
      padding: 3px 0 0;
    }
  }

  &.mat-form-field-invalid {
    margin-bottom: 5px;
  }
}

.ng2-nouislider {
  margin-right: 15px;
}

.noUi-tooltip {
  padding: 2px 6px;
  font-size: 0.85em;
}

.noUi-target {
  border-color: #5a5a5a;
  box-shadow: none;
}

.noUi-handle:after {
  left: 5px;
}
.noUi-handle:before {
  left: 10px;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  box-shadow: none;

  &.noUi-handle-lower {
    .noUi-tooltip {
      right: auto;
      left: 0;
      transform: none;
    }
  }

  &.noUi-handle-upper{
    .noUi-tooltip {
      left: auto;
      right: 0;
      transform: none;
    }
  }
}

