$dark_color_on_primary: #ffffff;
$dark_color_on_surface: #ffffff;
$dark_color_on_error: #ffffff;
$dark_color_on_background: #ffffff;
$dark_color_on_secondary: #ffffff;
$dark_surface: #41474e;
$dark_background: #353941;
$dark_background_selected: #585d64;
$dark_primary: #6e87df;
$dark_primary_dark: #202225;
$dark_primary_alpha: #666e87df;
$dark_secondary: #fff;
$dark_secondary_variant: #ffffff;
$dark_accent: #6e87df;
$dark_success: #6db33f;
$dark_error: #cf6679;
$dark_warning: #e67e22;
$dark_tab_selected: #41474e;
$dark_tab_background: #303136;
$dark_action_bar_background: #303136;
