.brown {background: #795548;}
.brown-dark {background: #5D4037;}
.deep-orange {background: #FF5722;}
.deep-orange-dark {background: #E64A19;}
.orange {background: #FF9800;}
.orange-dark {background: #F57C00;}
.amber {background: #FFC107;}
.amber-dark {background: #FFA000;}
.yellow {background: #FFEB3B;}
.yellow-dark {background: #FBC02D;}
.lime {background: #CDDC39;}
.lime-dark {background: #AFB42B;}
.light-green {background: #8BC34A;}
.light-green-dark {background: #689F38;}
.green {background: #4CAF50;}
.green-dark {background: #388E3C;}
.teal {background: #009688;}
.teal-dark {background: #00796B;}
.cyan {background: #00BCD4;}
.cyan-dark {background: #0097A7;}
.light-blue {background: #03A9F4;}
.light-blue-dark {background: #0288D1;}
.blue {background: #2196F3;}
.blue-dark {background: #1976D2;}
.indigo {background: #3F51B5;}
.indigo-dark {background: #673AB7;}
.deep-purple {background: #673AB7;}
.deep-purple-dark {background: #512DA8;}
.purple {background: #9C27B0;}
.purple-dark {background: #7B1FA2;}
.pink {background: #E91E63;}
.pink-dark {background: #D32F2F;}
.red {background: #F44336;}
.red-dark {background: #D32F2F;}

.color-brown {color: #795548 !important;}
.color-brown-dark {color: #5D4037 !important;}
.color-deep-orange {color: #FF5722 !important;}
.color-deep-orange-dark {color: #E64A19 !important;}
.color-orange {color: #FF9800 !important;}
.color-orange-dark {color: #F57C00 !important;}
.color-amber {color: #FFC107 !important;}
.color-amber-dark {color: #FFA000 !important;}
.color-yellow {color: #FFEB3B !important;}
.color-yellow-dark {color: #FBC02D !important;}
.color-lime {color: #CDDC39 !important;}
.color-lime-dark {color: #AFB42B !important;}
.color-light-green {color: #8BC34A !important;}
.color-light-green-dark {color: #689F38 !important;}
.color-green {color: #4CAF50 !important;}
.color-green-dark {color: #388E3C !important;}
.color-teal {color: #009688 !important;}
.color-teal-dark {color: #00796B !important;}
.color-cyan {color: #00BCD4 !important;}
.color-cyan-dark {color: #0097A7 !important;}
.color-light-blue {color: #03A9F4 !important;}
.color-light-blue-dark {color: #0288D1 !important;}
.color-blue {color: #2196F3 !important;}
.color-blue-dark {color: #1976D2 !important;}
.color-indigo {color: #3F51B5 !important;}
.color-indigo-dark {color: #673AB7 !important;}
.color-deep-purple {color: #673AB7 !important;}
.color-deep-purple-dark {color: #512DA8 !important;}
.color-purple {color: #9C27B0 !important;}
.color-purple-dark {color: #7B1FA2 !important;}
.color-pink {color: #E91E63 !important;}
.color-pink-dark {color: #D32F2F !important;}
.color-red {color: #F44336 !important;}
.color-red-dark {color: #D32F2F !important;}
